$orange1: #ff6700;

.home_tool_bar {
    position: fixed;
    z-index: 35;
    height: 561px;
    &.home_tool_bar_large {
        right: 0;
        bottom: 70px;
        a {
            color: #757575;
            background-color: white;
            cursor: default;
            width: 86px;
            height: 94px;
            border: 1px solid #f5f5f5;
            text-align: center;
            .icon {
                box-sizing: content-box;
                position: relative;
                width: 30px;
                height: 30px;
                padding-top: 18px;
                margin: 0 auto 8px;
                img {
                    width: 30px;
                    height: 30px;
                }
                .static {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 1;
                    transition: opacity .3s;
                }
                .hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity .3s;
                }
            }
            &:hover {
                color: $orange1;
                .icon {
                    .static {
                        opacity: 0;
                    }
                    .hover {
                        opacity: 1;
                    }
                }
            }
        }
        a.downl {
            position: relative;
            .pop_content {
                position: absolute;
                top: 0;
                left: 0;
                padding: 14px;
                background-color: white;
                border: 1px solid #f5f5f5;
                opacity: 0;
                transition: opacity .3s;
                transform: translateZ(0);
                visibility: hidden;
                img {
                    width: 100px;
                    height: 100px;
                    margin: 6px auto;
                }
                p {
                    width: 82px;
                    margin: 14px auto 0;
                    text-align: center;
                }
            }
            &:hover {
                .pop_content {
                    opacity: 1;
                    transform: translate3d(-110%, 0, 0);
                    visibility: visible;
                }
            }
        }
        a.toTop {
            margin-top: 14px;
            display: none;
            cursor: pointer;
        }
    }
    &.home_tool_bar_small {
        height: 261px;
        left: 50%;
        bottom: 40px;
        right: auto;
        margin-left: 613px;
        a {
            color: #757575;
            background-color: white;
            cursor: default;
            width: 29px;
            height: 44px;
            border: 1px solid #f5f5f5;
            text-align: center;
            .icon {
                box-sizing: content-box;
                position: relative;
                width: 20px;
                height: 20px;
                padding-top: 10px;
                margin: 0 auto 8px;
                img {
                    width: 20px;
                    height: 20px;
                }
                .static {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 1;
                    transition: opacity .3s;
                }
                .hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity .3s;
                }
            }
            &:hover {
                color: $orange1;
                .icon {
                    .static {
                        opacity: 0;
                    }
                    .hover {
                        opacity: 1;
                    }
                }
            }
            p {
                display: none;
            }
        }
        a.downl {
            position: relative;
            .pop_content {
                position: absolute;
                top: 0;
                left: 0;
                padding: 14px;
                background-color: white;
                border: 1px solid #f5f5f5;
                opacity: 0;
                transition: opacity .3s;
                transform: translateZ(0);
                visibility: hidden;
                img {
                    width: 100px;
                    height: 100px;
                    margin: 6px auto;
                }
                p {
                    width: 82px;
                    margin: 14px auto 0;
                    text-align: center;
                }
            }
            &:hover {
                .pop_content {
                    opacity: 1;
                    transform: translate3d(-110%, 0, 0);
                    visibility: visible;
                }
            }
        }
        a.toTop {
            margin-top: 14px;
            display: none;
            cursor: pointer;
        }
    }
}

#header {
    .header_top_img {
        display: flex;
        justify-content: center;
        img {height: 120px;}
        overflow: hidden;
        // a {
        //     height: 120px;
        //     background: url(../images/bb3c06a430689ba2357dd7d1fbfa6bab.jpg) no-repeat 50%;
        //     background-size: auto 120px;
        //     // background-position: 50%;
        // }
    }
    .topbar {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        color: #b0b0b0;
        background-color: #333;
        .nav {
            ul {
                float: left;
                display: flex;
                justify-content: space-between;
                width: 800px;
                color: #424242;
                li {
                    color: #b0b0b0;
                    a:hover {
                        color: white;
                    }
                    a.download {
                        position: relative;
                        .download_img {
                            height: 0;
                            width: 124px;
                            position: absolute;
                            z-index: 30;
                            left: -38px;
                            top: 40px;
                            text-align: center;
                            font-size: 14px;
                            color: #333;
                            background-color: #fff;
                            overflow: hidden;
                            transition: .3s;
                            box-shadow: 0 1px 5px #aaa;
                            line-height: 1;
                            img {
                                width: 90px;
                                height: 90px;
                                margin: 18px auto 12px;
                            }
                        }
                        &:hover::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            margin-left: -8px;
                            width: 0;
                            height: 0;
                            bottom: 0;
                            color: black;
                            border-width: 0 8px 8px;
                            border-style: solid;
                            border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff;
                        }
                        &:hover .download_img{
                            height: 148px;
                        }
                    }
                }
            }
        }
        .cart {
            float: right;
            width: 120px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            background-color: #424242;
            .iconfont-cart {
                font-size: 20px;
                margin-right: 5px;
            }
            .cart_num {
                margin-left: 5px;
            }
            &:hover {
                color: $orange1;
            }
        }
        .login {
            float: right;
            display: flex;
            a {
                padding: 0 6px;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .site_header {
        position: relative;
        .container {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .display {
                height: 0;
                width: 100%;
                overflow: hidden;
                border-top: 0px solid #e0e0e0;
                position: absolute;
                top: 100px;
                left: 0;
                z-index: 30;
                background-color: white;
                box-shadow: 0 3px 4px rgba(0,0,0,0.18);
                .container {
                    display: none;
                    width: 1226px;
                    height: 100%;
                }
                li {
                    width: 204px;
                    height: 201px;
                    padding: 35px 12px 0 12px;
                    float: left;
                    position: relative;
                    a {
                        text-align: center;
                        font-size: 12px;
                        color: #333;
                        img {
                            width: 160px;
                            height: 110px;
                            margin: 0 10px 16px;
                        }
                        p {
                            box-sizing: content-box;
                            line-height: 20px;
                        }
                        .price {
                            color: $orange1;
                        }
                    }
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 35px;
                        left: 0;
                        width: 1px;
                        height: 100px;
                        background-color: #e0e0e0;
                    }
                    &.first::before {
                        display: none;
                    }
                }
            }
            .header_logo {
                a {
                    width: 55px;
                    height: 55px;
                    background: url(../images/mi-home.png) no-repeat -55px 50%, url(../images/mi-logo.png) no-repeat 50% 50% $orange1;
                    transition: .2s;
                    &:hover {
                        background: url(../images/mi-home.png) no-repeat 50% 50%, url(../images/mi-logo.png) no-repeat 55px 50% $orange1;
                    }
                }
            }
            .header_nav {
                position: relative;
                padding-left: 100px;
                .header_nav_detail,.header_nav_other {
                    float: left;
                    font-size: 0;
                }
                .header_nav_detail li a,.header_nav_other a {
                    display: inline;
                    color: #333;
                    font-size: 16px;
                    padding: 10px;
                    line-height: 80px;
                    position: relative;
                    top: 10px;
                    &:hover {
                        color: $orange1;
                    }
                }
                .header_nav_detail li {
                    float: left;
                    margin-top: 20px;
                    height: 80px;
                    a {
                        top: -10px;
                    }
                }
                .left_nav {
                    width: 234px;
                    height: 460px;
                    position: absolute;
                    z-index: 21;
                    left: -135px;
                    top: 101px;
                    background-color: rgba(105,101,101,.6);
                    padding: 20px 0;
                    li {
                        height: 42px;
                        line-height: 42px;
                        padding-left: 30px;
                        cursor: pointer;
                        a {
                            color: white;
                        }
                        i {
                            font-size: 16px;
                            // vertical-align: bottom;
                            float: right;
                            margin-right: 20px;
                        }
                        &:hover {
                            background-color: $orange1;
                        }
                        .left_nav_details {
                            position: absolute;
                            height: 460px;
                            font-size: 14px;
                            top: 0;
                            left: 234px;
                            background-color: white;
                            color: #333;
                            writing-mode: vertical-lr;
                            display: flex;
                            flex-wrap: wrap;
                            span {
                                writing-mode: horizontal-tb;
                                width: 248px;
                                height: 76px;
                                line-height: 76px;
                                padding-left: 20px;
                                img {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    vertical-align: middle;
                                    margin-right: 12px;
                                }
                                &:hover {
                                    color: $orange1;
                                }
                            }
                        }
                    }
                }
            }
            .header_search {
                width: 296px;
                height: 50px;
                position: relative;
                input {
                    width: 245px;
                    height: 50px;
                    padding: 0 10px;
                    font-size: 14px;
                    border: 1px solid #e0e0e0;
                    border-right: none;
                    transition: .2s;
                    &:focus {
                        outline: none;
                        border-color: $orange1;
                    }
                }
                input.icon_hover {
                    border-color: #b0b0b0;
                }
                .icon_container {
                    width: 51px;
                    height: 50px;
                    border: 1px solid #e0e0e0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: right;
                    transition: .2s;
                    cursor: pointer;
                    .iconfont {
                        font-size: 24px;
                        background-color: white;
                        color: #616161;
                        transition: .2s;
                    }
                    &:hover {
                        border: none;
                        background-color: $orange1;
                        .iconfont {
                            color: white;
                            background-color: $orange1;
                        }
                    }
                }
                .down {
                    position: absolute;
                    display: none;
                    top: 50px;
                    left: 0;
                    z-index: 30;
                    border: 1px solid $orange1;
                    border-top: none;
                    li {
                        background-color: white;
                        width: 244px;
                        height: 30px;
                        a {
                            font-size: 12px;
                            color: #424242;
                            padding: 6px 15px;
                        }
                        &:hover {
                            background-color: #fafafa;
                        }
                    }
                }
            }
        }
    }
}

#main {
    .main_top_area {
        margin-top: 1px;
        .banner {
            min-height: 460px;
            position: relative;
            a {
                display: none;
                position: absolute;
                img {
                    width: 1226px;
                    height: 460px;
                }
            }
            a.active {
                display: block;
            }
            // img {
            //     height: 460px;
            // }
            .previous,.next {
                width: 41px;
                height: 69px;
                position: absolute;
                z-index: 10;
                top: calc(50% - 34px);
                cursor: pointer;
            }
            .previous {
                left: 234px;
                background: url(../images/icon-slides.png) no-repeat -83px;
                &:hover {
                    background: url(../images/icon-slides.png) no-repeat 0;
                }
            }
            .next {
                right: 0;
                background: url(../images/icon-slides.png) no-repeat -125px;
                &:hover {
                    background: url(../images/icon-slides.png) no-repeat -42px;
                }
            }
            .pagination_dot {
                position: absolute;
                z-index: 10;
                bottom: 20px;
                right: 30px;
                font-size: 0;
                li {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    opacity: .7;
                    margin: 0 5px;
                    border: 2px solid grey;
                    border-radius: 50%;
                    background-color: #111;
                    cursor: pointer;
                    &:hover {
                        border-color: #555;
                        background-color: white;
                    }
                }
                li.active {
                    border-color: #555;
                    background-color: white;
                }
            }
        }
        .more {
            margin-top: 14px;
            .more_option {
                width: 234px;
                height: 170px;
                float: left;
                background-color: #5f5750;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                place-items: center;
                a {
                    color: #fff;
                    width: 48px;
                    text-align: center;
                    font-size: 12px;
                    position: relative;
                    img {
                        margin: 0 auto 5px;
                        height: 24px;
                        opacity: .7;
                        transition: opacity .2s;
                    }
                    span {
                        opacity: .7;
                        transition: opacity .2s;
                    }
                    &:hover {
                        img {
                            opacity: 1;
                        }
                        span {
                            opacity: 1;
                        }
                    }
                    &::before {
                        content: "";
                        cursor: default;
                        display: block;
                        position: absolute;
                        left: -6px;
                        top: -17px;
                        width: 64px;
                        height: 1px;
                        background-color: #665e57;
                    }
                    &::after {
                        content: "";
                        cursor: default;
                        display: block;
                        position: absolute;
                        top: -8px;
                        left: -13px;
                        width: 1px;
                        height: 70px;
                        background-color: #665e57;
                    }
                }
            }
            .more_commodity {
                display: grid;
                float: left;
                margin-left: 14px;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 15px;
                img {
                    height: 170px;
                }
            }
            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}

#secMain {
    margin-top: 26px;
    min-height: 500px;
    background-color: #f5f5f5;
    .flash_shop {
        .flash_shop_top {
            display: flex;
            justify-content: space-between;
            height: 64px;
            color: #333;
            h2 {
                font-weight: normal;
                line-height: 64px;
            }
            .button {
                margin-top: 28px;
                font-size: 0;
                span {
                    font-size: 16px;
                    color: #b0b0b0;
                    display: inline-block;
                    width: 36px;
                    height: 24px;
                    border: 1px solid #e0e0e0;
                    text-align: center;
                    line-height: 24px;
                    cursor: pointer;
                    i {
                        line-height: 22px;
                    }
                    &:hover {
                        color: $orange1;
                    }
                }
                span.previous {
                    width: 35px;
                    border-right: none;
                }
                span.unClick {
                    cursor: initial;
                    i {
                        color: #e0e0e0;
                    }
                }
            }
        }
        .flash_shop_bottom {
            display: flex;
            justify-content: space-between;
            .left_area {
                width: 234px;
                height: 340px;
                background-color: #f1eded;
                border-top: 1px solid #e53935;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .top_description {
                    font-size: 20px;
                    color: #e53934;
                }
                img {
                    margin: 30px 0;
                }
                .bottom_description {
                    font-size: 14px;
                }
                .time {
                    margin-top: 30px;
                    font-size: 30px;
                    font-weight: lighter;
                    color: #605751;
                    line-height: 46px;
                    span {
                        font-size: 24px;
                        font-weight: lighter;
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        text-align: center;
                        line-height: 46px;
                        background-color: #605751;
                        color: white;
                        margin: 0 4px;
                    }
                }
            }
            .right_area {
                margin-left: 14px;
                height: 340px;
                width: 978px;
                overflow: hidden;
                .goods_container {
                    transform: translate3d(0,0,0);
                    transition: .8s;
                    li {
                        float: left;
                        width: 234px;
                        height: 340px;
                        background-color: #fafafa;
                        margin-left: 14px;
                        a {
                            width: 234px;
                            height: 340px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        .title {
                            max-width: 194px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .description {
                            color: #aaa;
                            font-size: 12px;
                        }
                        img {
                            width: 150px;
                            margin-bottom: 15px;
                        }
                        .price {
                            margin-top: 10px;
                            .now {
                                color: $orange1;
                            }
                            .before {
                                color: #aaa;
                                text-decoration: line-through;
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    .b {
                        border-top-width: 1px;
                        border-top-style: solid;
                        &.c1 {
                            border-top-color: #ffac13;
                        }
                        &.c2 {
                            border-top-color: #83c44e;
                        }
                        &.c3 {
                            border-top-color: #2196f3;
                        }
                        &.c4  {
                            border-top-color: #e53935;
                        }
                        &.c5 {
                            border-top-color: #00c0a5;
                        }
                    }
                }
            }
        }
    }
    .phone {
        .top_img {
            margin: 22px 0;
        }
        .phone_main {
            .header_area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 58px;
                h2 {
                    font-weight: lighter;
                }
                .more {
                    line-height: 58px;
                    font-size: 16px;
                    .look_all {
                        display: inline;
                        color: #424242;
                        transition: .3s;
                        i {
                            box-sizing: content-box;
                            transition: .3s;
                            width: 12px;
                            height: 12px;
                            padding: 4px;
                            color: white;
                            background-color: #b0b0b0;
                            border-radius: 16px;
                            font-size: 12px;
                            line-height: 12px;
                            vertical-align: 1px;
                            margin-left: 8px;
                        }
                        &:hover {
                            color: $orange1;
                            i {
                                background-color: $orange1;
                            }
                        }
                    }
                }
            }
            .phone_area {
                .left_banner,.details {
                    float: left;
                }
                .left_banner {
                    transition: .2s linear;
                    &:hover {
                        box-shadow: 0 15px 30px rgba(0,0,0,.1);
                        transform: translate3d(0, -2px, 0);
                    }
                }
                .details {
                    width: 992px;
                    li {
                        float: left;
                        position: relative;
                        margin: 0 0 14px 14px;
                        transition: .2s linear;
                        &:hover {
                            box-shadow: 0 15px 30px rgba(0,0,0,.1);
                            z-index: 2;
                            transform: translate3d(0, -2px, 0);
                        }
                        a {
                            color: #333;
                            width: 234px;
                            height: 300px;
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 160px;
                                height: 160px;
                                margin-bottom: 18px;
                            }
                            .title {
                                margin-bottom: 2px;
                            }
                            .description {
                                max-width: 214px;
                                font-size: 12px;
                                color: #b0b0b0;
                                margin-bottom: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .price {
                                color: $orange1;
                            }
                        }
                    }
                }
            }
        }
    }
    .more {
        .top_img {
            margin: 22px 0;
        }
        .more_area {
            .header {
                height: 58px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                    font-weight: lighter;
                }
                .option {
                    cursor: pointer;
                    div {
                        float: left;
                        font-size: 16px;
                        margin-left: 30px;
                    }
                    div.active {
                        color: $orange1;
                        border-bottom: 2px solid $orange1;
                    }
                }
            }
            .section {
                display: flex;
                .left_img {
                    ul {
                        margin-left: -14px;
                        li {
                            width: 234px;
                            height: 300px;
                            margin: 0 0 14px 14px;
                            a {
                                width: 234px;
                                height: 300px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                ul {
                    li {
                        transition: .2s;
                        &:hover {
                            box-shadow: 0 15px 30px rgba(0,0,0,.1);
                            transform: translateY(-2px);
                        }
                    }
                }
                .details {
                    display: none;
                    width: 978px;
                    margin-left: 14px;
                    ul {
                        margin-left: -14px;
                        li {
                            width: 234px;
                            height: 300px;
                            margin: 0 0 14px 14px;
                            padding: 20px 0;
                            background-color: white;
                            float: left;
                            a {
                                text-align: center;
                                img {
                                    width: 160px;
                                    height: 160px;
                                    margin: 0 auto 18px;
                                }
                                .title {
                                    color: #333;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    margin: 0 10px 2px 10px;
                                }
                                .description {
                                    font-size: 12px;
                                    margin: 0 10px 10px;
                                }
                                .price {
                                    margin: 0 10px 14px;
                                    .now {
                                        display: inline;
                                        color: $orange1;
                                    }
                                    .previous {
                                        display: inline;
                                    }
                                }
                            }
                        }
                        li.last {
                            padding: 0;
                            background-color: rgba(0,0,0,0);
                            .small {
                                background-color: white;
                                margin-bottom: 14px;
                                transition: .2s;
                                a {
                                    width: 234px;
                                    height: 143px;
                                    text-align: start;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .info {
                                        width: 92px;
                                        color: #333;
                                    }
                                    .pic {
                                        width: 80px;
                                        height: 80px;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover {
                                    box-shadow: 0 15px 30px rgba(0,0,0,.1);
                                    transform: translateY(-2px);
                                }
                            }
                            .view_more {
                                background-color: white;
                                transition: .2s;
                                a {
                                    width: 234px;
                                    height: 143px;
                                    color: #333;
                                    padding-left: 30px;
                                    .info {
                                        float: left;
                                        margin: 48px  20px 0 0;
                                        text-align: start;
                                        .view_more_title {
                                            font-size: 18px;
                                        }
                                        .classify {
                                            display: inline;
                                            font-size: 12px;
                                            color: #757575;
                                        }
                                    }
                                    .icon {
                                        float: left;
                                        font-size: 50px;
                                        margin-left: 20px;
                                        color: $orange1;
                                        line-height: 143px;
                                    }
                                }
                                &:hover {
                                    box-shadow: 0 15px 30px rgba(0,0,0,.1);
                                    transform: translateY(-2px);
                                }
                            }
                            &:hover {
                                box-shadow: none;
                                transform: none;
                            }
                        }
                    }
                }
                .details.active {
                    display: block;
                }
            }
        }
    }
    .video {
        .top_img {
            margin: 22px 0;
        }
        .video_main {
            .header_area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 58px;
                h2 {
                    font-weight: lighter;
                }
                .more {
                    line-height: 58px;
                    font-size: 16px;
                    .look_all {
                        display: inline;
                        color: #424242;
                        transition: .3s;
                        i {
                            box-sizing: content-box;
                            transition: .3s;
                            width: 12px;
                            height: 12px;
                            padding: 4px;
                            color: white;
                            background-color: #b0b0b0;
                            border-radius: 16px;
                            font-size: 12px;
                            line-height: 12px;
                            vertical-align: 1px;
                            margin-left: 8px;
                        }
                        &:hover {
                            color: $orange1;
                            i {
                                background-color: $orange1;
                            }
                        }
                    }
                }
            }
            .video_area {
                ul {
                    li {
                        width: 296px;
                        height: 285px;
                        margin: 0 0 14px 14px;
                        float: left;
                        transition: .2s;
                        a {
                            width: 100%;
                            height: 100%;
                            color: #333;
                            text-align: center;
                            .figure {
                                position: relative;
                                margin-bottom: 28px;
                                img {
                                    width: 296px;
                                    height: 180px;
                                }
                                i {
                                    position: absolute;
                                    left: 20px;
                                    bottom: 10px;
                                    height: 24px;
                                    width: 36px;
                                    border: 2px solid white;
                                    color: white;
                                    border-radius: 12px;
                                    line-height: 20px;
                                    font-size: 30px;
                                    transition: .2s;
                                }
                                &:hover {
                                    i {
                                        background-color: $orange1;
                                        border-color: $orange1;
                                    }
                                }
                            }
                            h3 {
                                margin: 0 14px 6px;
                                font-weight: normal;
                                font-size: 14px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            .description {
                                color: #b0b0b0;
                                margin: 0 14px; 
                                font-size: 12px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                        &:hover {
                            box-shadow: 0 15px 30px rgba(0,0,0,.1);
                            transform: translate(0, -2px);
                        }
                    }
                    li.first {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

#tool {
    .tool {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 80px 252px;
        grid-template-areas:
        "a b c d e"
        "g g g g h";
        .top_t {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            border-bottom: 1px solid #e0e0e0;
            position: relative;
            overflow: auto;
            a { 
                display: flex;
                justify-content: center;
                align-items: center;
                color: #616161;
                transition: .2s;
                i {
                    font-size: 24px;
                    margin-right: 6px;
                }
                &:hover {
                    color: $orange1;   
                }
            }
            &::before {
                content: "";
                display: block;
                width: 1px;
                height: 25px;
                background-color: #e0e0e0;
                position: absolute;
                left: 2px;
            }
        }
        .top_t.first {
            &::before {
                display: none;
            }
        }
        .catalogue {
            grid-area: g;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 40px 0;
            .branch {

                h3 {
                    font-weight: normal;
                    font-size: 14px;
                    margin-bottom: 26px;
                    color: #424242;
                }
                p {
                    height: 18px;
                    margin: 10px 0 0;
                    a {
                        color: #757575;
                        font-size: 12px;
                        transition: .2s;
                        display: inline;
                        line-height: 18px;
                        &:hover {
                            color: $orange1;
                        }
                    }
                }
            }
        }
        .customer_service {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .phoneNum {
                font-size: 22px;
                color: $orange1;
                margin: 0 0 5px;
                line-height: 20px;
            }
            .desc {
                font-size: 12px;
                margin: 0 0 5px;
            }
            .icon1 {
                a {
                    width: 120px;
                    height: 30px;
                    color: $orange1;
                    border: 1px solid $orange1;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                    transition: .2s;
                    &:hover {
                        color: white;
                        background-color: $orange1;
                    }
                }
            }
            .icon2 {
                font-size: 12px;
                margin: 10px 0 0;
                a {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 6px;
                    margin-top: -3px;
                }
                .wb {
                    background: url(../images/wb.png) no-repeat;
                    background-size: cover;
                    &:hover {
                        background: url(../images/wb@2x.png) no-repeat;
                        background-size: cover;
                    }
                }
                .wx {
                    background: url(../images/wx.png) no-repeat;
                    background-size: cover;
                    position: relative;
                    img {
                        position: absolute;
                        width: 126px;
                        height: 126px;
                        top: 24px;
                        left: -63px;
                        display: none;
                    }
                    &:hover {
                        background: url(../images/wx@2x.png) no-repeat;
                        background-size: cover;
                        img {
                            display: block;
                        }
                    }
                }
            }
            &::before {
                content: "";
                display: block;
                width: 1px;
                height: 111px;
                background-color: #e0e0e0;
                position: absolute;
                left: 0;
            }
        }
    }
}

#footer {
    background-color: #f5f5f5;
    .container {
        padding: 30px 0;
        .footer_main {
            .logo {
                float: left;
                margin: 0 10px 0 0;
            }
            .info {
                float: left;
                width: 1159px;
                color: #b0b0b0;
                font-size: 12px;
                a {
                    display: inline;
                    transition: .2s;
                    &:hover {
                        color: $orange1;
                    }
                }
                .text {
                    ul {
                        li {
                            display: inline;
                            color: #b0b0b0;
                            a {
                                display: inline;
                                color: #757575;
                                font-size: 12px;
                                &:hover {
                                    color: $orange1;
                                }
                            }
                        }
                    }
                }
                .imgs {
                    margin: 4px 0 0;
                    a {
                        height: 28px;
                        display: inline-block;
                        img {
                            display: inline-block;
                            height: 100%;
                        }
                    }
                    a.last {
                        height: 40px;
                        img {
                            display: none;
                        }
                        img.active {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .slogan {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    }
}