.container {
  width: 1130px;
}

::-webkit-input-placeholder {
  color: #9d9d9d;
}

::-moz-placeholder {
  color: #9d9d9d;
}

::-ms-input-placeholder {
  color: #9d9d9d;
}

#header .container .logo_c {
  width: 200px;
  height: 98px;
  background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}

#main {
  height: 588px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/72644d9b8031286de3cc74e151aefd90.jpg) no-repeat center;
  cursor: pointer;
}

#main .container .login_area {
  margin-top: 32px;
  float: right;
  width: 410px;
  text-align: center;
  background-color: white;
  height: 556px;
  cursor: default;
}

#main .container .login_area .option {
  height: 82px;
  line-height: 82px;
  text-align: center;
  font-size: 24px;
  color: #ff6700;
}

#main .container .login_area .bottom_container {
  width: 348px;
  margin: 0 auto;
}

#main .container .login_area .bottom_container input, #main .container .login_area .bottom_container div {
  width: 100%;
}

#main .container .login_area .bottom_container input {
  height: 50px;
  margin-bottom: 14px;
  border: 1px solid #e0e0e0;
  padding: 13px 16px 13px 14px;
  color: #4a4a4a;
  font-size: 14px;
}

#main .container .login_area .bottom_container input:focus {
  outline: none;
}

#main .container .login_area .bottom_container .info_area {
  width: 100%;
  display: none;
}

#main .container .login_area .bottom_container .info_area.error {
  display: block;
  height: 30px;
  padding: 5px;
  color: #da2626;
  background-color: rgba(218, 38, 38, 0.1);
}

#main .container .login_area .bottom_container .info_area.success {
  display: block;
  height: 30px;
  padding: 5px;
  color: #00740a;
  background-color: rgba(0, 116, 10, 0.1);
}

#main .container .login_area .bottom_container .register_btn {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: #ff6700;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

#main .container .login_area .bottom_container .more_option1 {
  color: #ff6700;
  margin-bottom: 30px;
}

#main .container .login_area .bottom_container .more_option2 {
  color: #b0b0b0;
}

#main .container .login_area .bottom_container .more_option2 a {
  display: inline;
  transition: .3s;
}

#main .container .login_area .bottom_container .more_option2 a:hover {
  color: #ff6700;
}

#main .container .login_area .bottom_container .other_apps {
  margin-top: 133px;
}

#main .container .login_area .bottom_container .other_apps a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 17px;
}

#main .container .login_area .bottom_container .other_apps a .btn_sns_icontype {
  background: url(https://account.xiaomi.com/static/res/166d6dc/account-static/respassport/acc-2014/img/icons_type.png) no-repeat;
  display: block;
  margin: 4px auto 0;
  width: 18px;
  height: 18px;
}

#main .container .login_area .bottom_container .other_apps a .btn_sns_icontype.icon_default_qq {
  background-position: -19px 0;
}

#main .container .login_area .bottom_container .other_apps a .btn_sns_icontype.icon_default_wb {
  background-position: -38px 0;
}

#main .container .login_area .bottom_container .other_apps a .btn_sns_icontype.icon_default_zfb {
  background-position: -57px 0;
  width: 25px;
  margin: 6px 0 0 4px;
}

#main .container .login_area .bottom_container .other_apps a .btn_sns_icontype.icon_default_wx {
  background-position: -83px 0;
  width: 24px;
  margin-top: 6px;
}

#main .container .login_area .bottom_container .other_apps .qq {
  background-color: #0288d1;
}

#main .container .login_area .bottom_container .other_apps .wb {
  background-color: #d32f2f;
}

#main .container .login_area .bottom_container .other_apps .zfb {
  background-color: #0ae;
}

#main .container .login_area .bottom_container .other_apps .wx {
  background-color: #00d20d;
}

#footer {
  text-align: center;
  margin-top: 100px;
}

#footer .t {
  font-size: 0;
}

#footer .t a {
  display: inline;
  font-size: 14px;
  color: #757575;
  transition: .3s;
}

#footer .t a:hover {
  color: #333;
}

#footer .t a:first-child {
  color: #333;
}

#footer .t span {
  font-size: 14px;
  margin: 10px;
  color: #757575;
}

#footer .b {
  padding: 10px;
  color: #757575;
}

#footer .b a {
  display: inline;
  color: #757575;
}

#footer .b a span {
  display: inline-block;
  width: 20px;
  height: 16px;
}
