#register-form {
  border: 1px solid #eee;
  padding: 25px 95px 25px 15px;
  box-sizing: content-box;
  border-radius: 5px;
  background-color: white;

  .link-to-login {
    margin-left: 118px;
  }
}