html {
  font-size: 26.66667vw;
}

body {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #555555;
}

header {
  height: 0.45rem;
  background-color: #00b38a;
  font-size: 0.2rem;
  color: white;
  text-align: center;
  line-height: 0.45rem;
}

.login {
  height: 0.43rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.14rem;
}

.login p {
  margin-left: 0.16rem;
}

.login div {
  width: 0.84rem;
  height: 0.3rem;
  background-color: #f5f5f5;
  margin-right: 0.15rem;
  text-align: center;
  line-height: 0.3rem;
  border-radius: 0.15rem;
}

.login a {
  display: block;
}

.list li {
  height: 0.9rem;
  border-top: 0.01rem solid #e8e8e8;
  display: flex;
  align-items: center;
}

.list .list_img {
  width: 0.6rem;
  margin: 0 0.1rem 0 0.1rem;
}

.list .list_img img {
  width: 100%;
}

.list .list_info {
  flex-grow: 1;
}

.list .list_info h2 {
  font-size: 0.18rem;
}

.list .list_info p:first-of-type {
  font-size: 0.14rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.04rem;
}

.list .list_info p:first-of-type span:last-of-type {
  margin-right: 0.14rem;
  color: #17b994;
}

.list .list_info p:last-of-type {
  font-size: 0.12rem;
  color: #888888;
  margin-top: 0.08rem;
}

.more {
  height: 0.5rem;
  background-color: #fafafa;
  border-top: 0.01rem solid #e8e8e8;
  text-align: center;
  line-height: 0.5rem;
}

.more a {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  height: 1.15rem;
  text-align: center;
  font-size: 0.12rem;
  line-height: 0.22rem;
  padding-top: 0.27rem;
  box-sizing: border-box;
  margin-bottom: 0.45rem;
}

.icon-home {
  font-size: 0.24rem;
  line-height: 0.18rem;
  position: relative;
  top: 0.03rem;
}

.icon-wode {
  font-size: 0.24rem;
  line-height: 0.18rem;
  position: relative;
  top: 0.03rem;
}

.icon-sousuo {
  font-size: 0.2rem;
  line-height: 0.18rem;
  position: relative;
  top: 0rem;
}

.tabbar {
  width: 100%;
  height: 0.45rem;
  border-top: 0.01rem solid #f6f6f6;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #f6f6f6;
  font-size: 0.18rem;
}

.tabbar div {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbar div.active {
  background-color: #e7f3f0;
  color: #17b994;
}
