<div id="bar">
    <div class="container">
        <a href="/"><i class="iconfont icon-shouye"></i></a>
        <span><%= username || '未知用户' %></span>
        <a href="javascript:window.history.back();">返回</a>
        <div class="wrapper">
            <a href="/write" class="write">写文章</a>
            <a href="/users/logout" class="exit">退出</a>
        </div>
    </div>
</div>